.logo-text {
    font-size: 2rem; /* Taille générale du logo */
    font-weight: bold; /* Poids pour un impact visuel */
    font-family: 'Poppins', sans-serif; /* Police moderne et élégante */
    text-transform: uppercase; /* Texte tout en majuscules */
    letter-spacing: 1px; /* Espacement entre les lettres */
}

.logo-black {
    color: #000000; /* Couleur noire pour "Woô" */
}

.logo-white {
    color: #FFF; /* Couleur blanche pour "Woô" */
}

.logo-yellow {
    color: #FFB300; /* Jaune vibrant pour "nonvi" */
}

.navbar-brand {
    text-decoration: none; /* Retirer le soulignement du lien */
}

.navbar-brand:hover .logo-yellow {
    color: #FF8C00; /* Couleur légèrement différente au survol */
}

.navbar-brand:hover .logo-black {
    color: #333333; /* Noir adouci au survol */
}
